---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/~lazypower/?ws.op=getMergeProposals
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 3, "start": 0, "entries": [{"queuer_link": null, "queue_status":
        "Work in progress", "private": false, "registrant_link": "https://api.launchpad.net/1.0/~lazypower",
        "date_reviewed": null, "target_branch_link": "https://api.launchpad.net/1.0/~charmers/charms/precise/phpmyadmin/trunk",
        "http_etag": "\"8c4ec30d7149d7e7f64bf51aaebb5a4d839dfbf1-49173d5fe0fad32bab322f9764107628428e0a75\"",
        "date_review_requested": "2014-02-25T15:14:44.248750+00:00", "votes_collection_link":
        "https://api.launchpad.net/1.0/~lazypower/charms/precise/phpmyadmin/audit-fixes/+merge/208151/votes",
        "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~lazypower/charms/precise/phpmyadmin/audit-fixes/+merge/208151",
        "commit_message": null, "resource_type_link": "https://api.launchpad.net/1.0/#branch_merge_proposal",
        "source_branch_link": "https://api.launchpad.net/1.0/~lazypower/charms/precise/phpmyadmin/audit-fixes",
        "all_comments_collection_link": "https://api.launchpad.net/1.0/~lazypower/charms/precise/phpmyadmin/audit-fixes/+merge/208151/all_comments",
        "date_merged": null, "description": "Audit fixes \u0026 Tests\n\nUpdated metadata
        with proper interface listing\nadded amulet tests for deployment\nadded bzrignore\nadded
        vagrant testing files to bzrignore\n\nhttps://codereview.appspot.com/68590043/\n",
        "merge_reporter_link": null, "preview_diffs_collection_link": "https://api.launchpad.net/1.0/~lazypower/charms/precise/phpmyadmin/audit-fixes/+merge/208151/preview_diffs",
        "preview_diff_link": "https://api.launchpad.net/1.0/~lazypower/charms/precise/phpmyadmin/audit-fixes/+merge/208151/+preview-diff/484426",
        "supersedes_link": null, "address": "\u003cemail address hidden\u003e", "superseded_by_link":
        null, "date_queued": null, "prerequisite_branch_link": null, "queued_revid":
        null, "merged_revno": null, "reviewed_revid": null, "web_link": "https://code.launchpad.net/~lazypower/charms/precise/phpmyadmin/audit-fixes/+merge/208151",
        "date_created": "2014-02-25T15:14:44.248750+00:00", "queue_position": null},
        {"queuer_link": null, "queue_status": "Needs review", "private": false, "registrant_link":
        "https://api.launchpad.net/1.0/~lazypower", "date_reviewed": null, "target_branch_link":
        "https://api.launchpad.net/1.0/~charmers/charms/precise/jenkins/trunk", "http_etag":
        "\"9a8ec34fe5e8878405a3b2d7e982f6f544497936-edafd18e34756fd406e7f318ac5e2b3d7c9a85e7\"",
        "date_review_requested": "2014-01-23T20:54:09.691137+00:00", "votes_collection_link":
        "htt[...]
