---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/~lazypower/?ws.op=getRequestedReviews
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 5, "start": 0, "entries": [{"queuer_link": null, "queue_status":
        "Needs review", "private": false, "registrant_link": "https://api.launchpad.net/1.0/~jose",
        "date_reviewed": null, "target_branch_link": "https://api.launchpad.net/1.0/~charmers/charms/precise/buildbot-slave/trunk",
        "http_etag": "\"335c6c92c0b07f028dd681ddf41ed8cc9bcd79d8-496895ec4065a00096b88374cf0fd866544a497f\"",
        "date_review_requested": "2014-03-26T01:05:12.263200+00:00", "votes_collection_link":
        "https://api.launchpad.net/1.0/~jose/charms/precise/buildbot-slave/1297562-fix/+merge/212752/votes",
        "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~jose/charms/precise/buildbot-slave/1297562-fix/+merge/212752",
        "commit_message": "Added categories, icon and blank defaults where missing,
        reformatted README file to Markdown", "resource_type_link": "https://api.launchpad.net/1.0/#branch_merge_proposal",
        "source_branch_link": "https://api.launchpad.net/1.0/~jose/charms/precise/buildbot-slave/1297562-fix",
        "all_comments_collection_link": "https://api.launchpad.net/1.0/~jose/charms/precise/buildbot-slave/1297562-fix/+merge/212752/all_comments",
        "date_merged": null, "description": "Charmworld reports the following errors:\n\n    err:
        Charms need a maintainer (See RFC2822) - Name \u003cemail\u003e\n    warn:
        Metadata is missing categories.\n    warn: No icon.svg file.\n    warn: config.yaml:
        option script-args does not have the keys: default\n    warn: config.yaml:
        option extra-packages does not have the keys: default\n    warn: config.yaml:
        option script-path does not have the keys: default\n    warn: config.yaml:
        option builders does not have the keys: default\n    warn: config.yaml: option
        extra-repository does not have the keys: default\n    warn: config.yaml: option
        script-url does not have the keys: default\n\nFixed all of them except ''needs
        maintainer'' (see bug #1028192), and reformatted README to Markdown.", "merge_reporter_link":
        null, "preview_diffs_collection_link": "https://api.launchpad.net/1.0/~jose/charms/precise/buildbot-slave/1297562-fix/+merge/212752/preview_diffs",
        "preview_diff_link": "https://api.launchpad.net/1.0/~jose/charms/precise/buildbot-slave/1297562-fix/+merge/212752/+preview-diff/496509",
        "supersedes_link": null, "address": "\u003cemail address hidden\u003e", "superseded_by_link":
        null, "date_queued": null, "prerequisite_branch_link": null, "queued_revid":
        null, "merged_revno": null, "reviewed_revid": null, "web_link": "https://code.launchpad.net/~jose/charms/precise/buildbot-slave/1297562-fix/+merge/212752",
        "date_created": "2014-03-26T01:05:12.263200+00:00", "queue_position": null},
        {"queuer_link": null, "queue_status": "Needs review", "private": false, "registrant_link":
        "https://api.launchpad.net/1.0/~jose", "date_reviewed": null, "target_branch_link":
        "https://api.launchpad.net/1.0/~charmers/charms/precise/buildbot-master/trunk",
        "http_etag": "\"cdc62318d6c42de5b3fd84b4a8e3964574d25a54-e3a26140993066c580e2e1f8259dfb0215eebb92\"",
        "date_review_requested": "2014-03-26T00:46:41.162063+00:00", "votes_collection_link":
        "[...]
