---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/~lazypower/?ws.op=getBranches
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 31, "start": 0, "entries": [{"control_format": "Bazaar-NG
        meta directory, format 1\n", "unique_name": "~lazypower/+junk/vagrant-ci-tester",
        "date_last_modified": "2014-05-14T13:13:44.206679+00:00", "display_name":
        "lp:~lazypower/+junk/vagrant-ci-tester", "merge_queue_link": null, "private":
        false, "registrant_link": "https://api.launchpad.net/1.0/~lazypower", "linked_bugs_collection_link":
        "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/linked_bugs",
        "branch_format": "Bazaar Branch Format 7 (needs bzr 1.6)\n", "last_mirrored":
        "2014-05-14T13:13:46.126939+00:00", "subscriptions_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/subscriptions",
        "lifecycle_status": "Development", "dependent_branches_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/dependent_branches",
        "sourcepackage_link": null, "http_etag": "\"ce4bc79d8be5be3f11c52f5498a2ccae02990b44-aeefa4f02fff8d99024ec28959ee8dc24fcb052e\"",
        "spec_links_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/spec_links",
        "name": "vagrant-ci-tester", "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester",
        "information_type": "Public", "resource_type_link": "https://api.launchpad.net/1.0/#branch",
        "explicitly_private": false, "revision_count": 2, "mirror_status_message":
        null, "description": null, "landing_targets_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/landing_targets",
        "repository_format": "Bazaar repository format 2a (needs bzr 1.16 or later)\n",
        "subscribers_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/subscribers",
        "recipes_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/recipes",
        "project_link": null, "landing_candidates_collection_link": "https://api.launchpad.net/1.0/~lazypower/+junk/vagrant-ci-tester/landing_candidates",
        "last_scanned_id": "\u003cemail address hidden\u003e", "branch_type": "Hosted",
        "bzr_identity": "lp:~lazypower/+junk/vagrant-ci-tester", "merge_queue_config":
        null, "last_scanned": "2014-05-14T13:13:46.824693+00:00", "url": null, "whiteboard":
        null, "code_import_link": null, "web_link": "https://code.launchpad.net/~lazypower/+junk/vagrant-ci-tester",
        "owner_link": "https://api.launchpad.net/1.0/~lazypower", "last_mirror_attempt":
        null, "date_created": "2014-05-14T13:13:44.206679+00:00"}, {"control_format":
        "Bazaar-NG meta directory, format 1\n", "unique_name": "~lazypower/charm-helpers/foobar",
        "date_last_modified": "2014-05-13T19:36:28.779288+00:00", "display_name":
        "lp:~lazypower/charm-helpers/foobar", "merge_queue_link": null, "private":
        false, "registrant_link": "https://api.launchpad.net/1.0/~lazypower", "linked_bugs_collection_link":
        "https://api.launchpad.net/1.0/~lazypower/charm-helpers/foobar/[...]
