---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/~lazypower/?ws.op=searchTasks
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 104, "start": 0, "next_collection_link": "https://api.launchpad.net/1.0/%7Elazypower?ws.op=searchTasks\u0026ws.size=75\u0026memo=75\u0026ws.start=75",
        "entries": [{"date_closed": null, "date_assigned": "2011-07-12T08:42:38.176116+00:00",
        "title": "Bug #809186 in Juju Charms Collection: \"Charm needed: BigBlueButton\"",
        "bug_link": "https://api.launchpad.net/1.0/bugs/809186", "bug_watch_link":
        null, "milestone_link": null, "http_etag": "\"a9eb3bb5e08b6551f09332cb14d4551e5b9133b8-776aeab8e6bb22ef0272f029e6d7647567d720ba\"",
        "date_left_closed": null, "date_fix_committed": null, "date_fix_released":
        null, "date_in_progress": null, "resource_type_link": "https://api.launchpad.net/1.0/#bug_task",
        "status": "New", "bug_target_name": "charms", "importance": "Wishlist", "assignee_link":
        "https://api.launchpad.net/1.0/~christophe.sauthier", "date_triaged": null,
        "self_link": "https://api.launchpad.net/1.0/charms/+bug/809186", "target_link":
        "https://api.launchpad.net/1.0/charms", "bug_target_display_name": "Juju Charms
        Collection", "related_tasks_collection_link": "https://api.launchpad.net/1.0/charms/+bug/809186/related_tasks",
        "date_confirmed": null, "date_left_new": null, "web_link": "https://bugs.launchpad.net/charms/+bug/809186",
        "owner_link": "https://api.launchpad.net/1.0/~kim0", "date_created": "2011-07-12T08:42:13.075171+00:00",
        "date_incomplete": null, "is_complete": false}, {"date_closed": null, "date_assigned":
        "2012-06-18T09:33:37.104193+00:00", "title": "Bug #822979 in Juju Charms Collection:
        \"Charm needed: Elastic Search\"", "bug_link": "https://api.launchpad.net/1.0/bugs/822979",
        "bug_watch_link": null, "milestone_link": null, "http_etag": "\"2e7b36ceb5394c30ae099839f66dc115919da1b7-33f6cb4f34fe9b3d2c28af9dcc52fbf473e2f53b\"",
        "date_left_closed": null, "date_fix_committed": null, "date_fix_released":
        null, "dat[...]
