---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/bzr/?ws.op=getBranches
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 546, "start": 0, "next_collection_link": "https://api.launchpad.net/1.0/bzr?ws.op=getBranches\u0026ws.size=75\u0026memo=75\u0026ws.start=75",
        "entries": [{"control_format": null, "unique_name": "~jrydberg/bzr/versionedfile",
        "date_last_modified": "2005-12-31T23:34:07+00:00", "display_name": "lp:~jrydberg/bzr/versionedfile",
        "merge_queue_link": null, "private": false, "registrant_link": "https://api.launchpad.net/1.0/~jrydberg",
        "linked_bugs_collection_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/linked_bugs",
        "branch_format": null, "last_mirrored": "2006-09-19T16:54:33.820937+00:00",
        "subscriptions_collection_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/subscriptions",
        "lifecycle_status": "Experimental", "dependent_branches_collection_link":
        "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/dependent_branches",
        "sourcepackage_link": null, "http_etag": "\"9f607b8c8034c4a2b95c299f3e70e7b3b1a5798d-ba023771db24e39d4973c035183c03da02ba1fda\"",
        "spec_links_collection_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/spec_links",
        "name": "versionedfile", "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile",
        "information_type": "Public", "resource_type_link": "https://api.launchpad.net/1.0/#branch",
        "explicitly_private": false, "revision_count": 1548, "mirror_status_message":
        "Not a branch: http://repo.panadafs.org/bzr/bzr.jrydberg.versionedfile/",
        "description": "Re-factoring effort to support several history formats\nin
        bzrlib without little or no changes to the core \nfunctionality.  Branch also
        support the knit history\nformat.\n", "landing_targets_collection_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/landing_targets",
        "repository_format": null, "subscribers_collection_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/subscribers",
        "recipes_collection_link": "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/recipes",
        "project_link": "https://api.launchpad.net/1.0/bzr", "landing_candidates_collection_link":
        "https://api.launchpad.net/1.0/~jrydberg/bzr/versionedfile/landing_candidates",
        "last_scanned_id": "\u003cemail address hidden\u003e", "branch_type": "Mirrored",
        "bzr_identity": "lp:~jrydberg/bzr/versionedfile", "merge_queue_config": null,
        "last_scanned": "2006-07-18T09:31:36.916342+00:00", "url": "http://repo.panadafs.org/bzr/bzr.jrydberg.versionedfile",
        "whiteboard": null, "code_import_link": null, "web_link": "https://code.launchpad.net/~jrydberg/bzr/versionedfile",
        "owner_link": "https://api.launchpad.net/1.0/~jrydberg", "last_mirror_attempt":
        "2007-10-25T08:05:43.996643+00:00", "date_created": "2005-12-31T23:34:07+00:00"},
        {"control_format": null, "unique_name": "~ddaa/bzr/bzr.ddaa", "date_last_modified":
        "2005-12-31T23:34:18+00:00", "display_name": "lp:~ddaa/bzr/bzr.ddaa", "merge_queue_link":
        null, "private": false, "registrant_link": "https://api.launchpad.net/1.0/~ddaa",
        "linked_bugs_collection_link": "https://api.launchpad.net/1.0/~ddaa/bzr/bzr.ddaa/linked_bugs",
        "branch_format": null, "last_mirrored": "2007-12-20T00:00:37.434453+00:00",
  [...]
