---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/bzr/?ws.op=getMergeProposals
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 84, "start": 0, "next_collection_link": "https://api.launchpad.net/1.0/bzr?ws.op=getMergeProposals\u0026ws.size=75\u0026memo=75\u0026ws.start=75",
        "entries": [{"queuer_link": null, "queue_status": "Needs review", "private":
        false, "registrant_link": "https://api.launchpad.net/1.0/~slyguy", "date_reviewed":
        null, "target_branch_link": "https://api.launchpad.net/1.0/~bzr-pqm/bzr/bzr.dev",
        "http_etag": "\"87c8c186beb928f8dbf4e0476f59d33fc7ecf381-d037b5235f6960da1bb7bc536d98460fd0278654\"",
        "date_review_requested": "2013-05-27T19:23:45.441802+00:00", "votes_collection_link":
        "https://api.launchpad.net/1.0/~slyguy/bzr/bug-855155/+merge/165929/votes",
        "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~slyguy/bzr/bug-855155/+merge/165929",
        "commit_message": null, "resource_type_link": "https://api.launchpad.net/1.0/#branch_merge_proposal",
        "source_branch_link": "https://api.launchpad.net/1.0/~slyguy/bzr/bug-855155",
        "all_comments_collection_link": "https://api.launchpad.net/1.0/~slyguy/bzr/bug-855155/+merge/165929/all_comments",
        "date_merged": null, "description": "Bug fix with test for bug 855155.", "merge_reporter_link":
        null, "preview_diffs_collection_link": "https://api.launchpad.net/1.0/~slyguy/bzr/bug-855155/+merge/165929/preview_diffs",
        "preview_diff_link": "https://api.launchpad.net/1.0/~slyguy/bzr/bug-855155/+merge/165929/+preview-diff/380190",
        "supersedes_link": null, "address": "\u003cemail address hidden\u003e", "superseded_by_link":
        null, "date_queued": null, "prerequisite_branch_link": null, "queued_revid":
        null, "merged_revno": null, "reviewed_revid": null, "web_link": "https://code.launchpad.net/~slyguy/bzr/bug-855155/+merge/165929",
        "date_created": "2013-05-27T19:23:45.441802+00:00", "queue_position": null},
        {"queuer_link": null, "queue_status": "Needs review", "private": false, "registrant_link":
        "https://api.launchpad.net/1.0/~abentley", "date_reviewed": null, "target_branch_link":
        "https://api.launchpad.net/1.0/~bzr-pqm/bzr/bzr.dev", "http_etag": "\"e4e012f155f599029b27eef68ef4c9cb573c1e75-237b8f97003f8882442997cfce4cdeae5185e51e\"",
        "date_review_requested": "2013-05-08T04:36:40.979032+00:00", "votes_collection_link":
        "https://api.launchpad.net/1.0/[...]
