---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/mozilla/?ws.op=searchTasks
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 474, "start": 0, "next_collection_link": "https://api.launchpad.net/1.0/mozilla?ws.op=searchTasks\u0026ws.size=75\u0026memo=75\u0026ws.start=75",
        "entries": [{"date_closed": null, "date_assigned": null, "title": "Bug #230087
        in Mozilla Firefox: \"firefox3 crashes when viewing big PNG files\"", "bug_link":
        "https://api.launchpad.net/1.0/bugs/230087", "bug_watch_link": "https://api.launchpad.net/1.0/bugs/230087/+watch/42777",
        "milestone_link": null, "http_etag": "\"549db6d6fe7d13b1781c141b25960e86507d3c32-f9fc8119ee757025913c5f03f18e5b13ea4a1ad1\"",
        "date_left_closed": null, "date_fix_committed": null, "date_fix_released":
        null, "date_in_progress": null, "resource_type_link": "https://api.launchpad.net/1.0/#bug_task",
        "status": "In Progress", "bug_target_name": "firefox", "importance": "Unknown",
        "assignee_link": null, "date_triaged": null, "self_link": "https://api.launchpad.net/1.0/firefox/+bug/230087",
        "target_link": "https://api.launchpad.net/1.0/firefox", "bug_target_display_name":
        "Mozilla Firefox", "related_tasks_collection_link": "https://api.launchpad.net/1.0/firefox/+bug/230087/related_tasks",
        "date_confirmed": null, "date_left_new": null, "web_link": "https://bugs.launchpad.net/firefox/+bug/230087",
        "owner_link": "https://api.launchpad.net/1.0/~mnemo", "date_created": "2008-05-13T20:32:27.903568+00:00",
        "date_incomplete": null, "is_complete": false}, {"date_closed": null, "date_assigned":
        "2006-04-21T17:50:41.977555+00:00", "title": "Bug #40610 in Mozilla Firefox:
        \"History wiped out if disk full when firefox exits\"", "bug_link": "https://api.launchpad.net/1.0/bugs/40610",
        "bug_watch_link": "https://api.launchpad.net/1.0/bugs/40610/+watch/30296",
        "milestone_link": null, "http_etag": "\"0b3ebb01783a84d7cfe9040bd5d47d0ee95b8f5f-e47f491b63cdc6d82b2d01a34d03d87ec8ebdb61\"",
        "date_left_closed": nu[...]
