---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/bzr/?ws.op=get_timeline
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 8, "start": 0, "entries": [{"status": "Active Development",
        "name": "trunk", "landmarks": [], "web_link": "https://launchpad.net/bzr/trunk",
        "project_link": "https://api.launchpad.net/1.0/bzr", "uri": "/bzr/trunk",
        "http_etag": "\"da39a3ee5e6b4b0d3255bfef95601890afd80709-b539276efa6a714d7d7e040025959b4862aa1c1f\"",
        "self_link": "https://api.launchpad.net/1.0/bzr/trunk", "resource_type_link":
        "https://api.launchpad.net/1.0/#timeline_project_series", "is_development_focus":
        true}, {"status": "Active Development", "name": "2.7", "landmarks": [{"date":
        null, "type": "milestone", "uri": "/bzr/+milestone/2.7b1", "code_name": "",
        "name": "2.7b1"}], "web_link": "https://launchpad.net/bzr/2.7", "project_link":
        "https://api.launchpad.net/1.0/bzr", "uri": "/bzr/2.7", "http_etag": "\"da39a3ee5e6b4b0d3255bfef95601890afd80709-9ecbabafe8e828ba314b78fa690010d234c0837a\"",
        "self_link": "https://api.launchpad.net/1.0/bzr/2.7", "resource_type_link":
        "https://api.launchpad.net/1.0/#timeline_project_series", "is_development_focus":
        false}, {"status": "Current Stable Release", "name": "2.6",[...]
