---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/mozilla
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d60bd4390496959ef2e44aecafee914d95089071-68ebba343c498f75113fa5f6ffed67c433b9b5e2"'
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"web_link": "https://launchpad.net/mozilla", "official_bug_tags":
        [], "active_milestones_collection_link": "https://api.launchpad.net/1.0/mozilla/active_milestones",
        "all_milestones_collection_link": "https://api.launchpad.net/1.0/mozilla/all_milestones",
        "bug_reported_acknowledgement": null, "display_name": "Mozilla", "wiki_url":
        null, "title": "Mozilla", "homepage_url": "http://www.mozilla.org/", "http_etag":
        "\"d60bd4390496959ef2e44aecafee914d95089071-68ebba343c498f75113fa5f6ffed67c433b9b5e2\"",
        "self_link": "https://api.launchpad.net/1.0/mozilla", "resource_type_link":
        "https://api.launchpad.net/1.0/#project_group", "description": "Mozilla was
        born as the codename for Netscape Navigator, which helped ignite the open
        source revolution when its code was released in 1998. Today Mozilla is a community
        of software developers producing the popular Firefox Web browser, Thunderbird
        e-mail program, Sunbird calendar, and other desktop software. The Mozilla
        project also maintains the Web-based software development tools Bugzilla,
        Tinderbox, and Bonsai.", "projects_collection_link": "https://api.launchpad.net/1.0/mozilla/projects",
        "sourceforge_project": null, "bug_reporting_guidelines": null, "active": true,
        "reviewed": false, "bug_tracker_link": null, "name": "mozilla", "freshmeat_project":
        null, "driver_link": null, "registrant_link": "https://api.launchpad.net/1.0/~mpt",
        "summary": "Developers of Firefox, Thunderbird, Sunbird, and other Internet-related
        software.", "mugshot_link": "https://api.launchpad.net/1.0/mozilla/mugshot",
        "logo_link": "https://api.launchpad.net/1.0/mozilla/logo", "owner_link": "https://api.launchpad.net/1.0/~registry",
        "date_created": "2006-04-01T06:14:28.279449+00:00", "homepage_content": null,
        "icon_link": "https://api.launchpad.net/1.0/mozilla/icon"}'
  recorded_at: Sun, 18 May 2014 19:42:59 GMT
- request:
    method: get
    uri: https://api.launchpad.net/1.0/mozilla/?ws.op=getBranches
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 231, "start": 0, "next_collection_link": "https://api.launchpad.net/1.0/mozilla?ws.op=getBranches\u0026ws.size=75\u0026memo=75\u0026ws.start=75",
        "entries": [{"control_format": "Bazaar-NG meta directory, format 1\n", "unique_name":
        "~steven-bengtson/nightingale/Arnell", "date_last_modified": "2010-09-03T17:35:41.878308+00:00",
        "display_name": "lp:nightingale/arnell", "merge_queue_link": null, "private":
        false, "registrant_link": "https://api.launchpad.net/1.0/~steven-bengtson",
        "linked_bugs_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/linked_bugs",
        "branch_format": "Bazaar Branch Format 7 (needs bzr 1.6)\n", "last_mirrored":
        "2010-09-03T17:36:19.479614+00:00", "subscriptions_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/subscriptions",
        "lifecycle_status": "Development", "dependent_branches_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/dependent_branches",
        "sourcepackage_link": null, "http_etag": "\"163ba9ffeec211f53027f55a03bdbeb68429f247-064be5e886106c85f15c228d7499b11a9e7e4aa9\"",
        "spec_links_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/spec_links",
        "name": "Arnell", "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell",
        "information_type": "Public", "resource_type_link": "https://api.launchpad.net/1.0/#branch",
        "explicitly_private": false, "revision_count": 1, "mirror_status_message":
        null, "description": null, "landing_targets_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/landing_targets",
        "repository_format": "Bazaar repository format 2a (needs bzr 1.16 or later)\n",
        "subscribers_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/subscribers",
        "recipes_collection_link": "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/recipes",
        "project_link": "https://api.launchpad.net/1.0/nightingale", "landing_candidates_collection_link":
        "https://api.launchpad.net/1.0/~steven-bengtson/nightingale/Arnell/landing_candidates",
        "last_scanned_id": "\u003cemail address hidden\u003e", "branch_type": "Hosted",
        "bzr_identity": "lp:nightingale/arnell", "merge_queue_config": null, "last_scanned":
        "2010-09-03T17:37:34.827708+00:00", "url": null, "whiteboard": null, "code_import_link":
        null, "web_link": "https://code.launchpad.net/~steven-bengtson/nightingale/Arnell",
        "owner_link": "https://api.launchpad.net/1.0/~steven-bengtson", "last_mirror_attempt":
        null, "date_created": "2010-09-03T17:15:02.635726+00:00"}, {"control_format":
        "Bazaar-NG meta directory, format 1\n", "unique_name": "~trebelnik-stefina/nightingale/trunk",
        "date_last_modified": "2012-10-29T19:46:04.033093+00:00", "display_name":
        "lp:nightingale/nightingale-testing", "merge_queue_link": null, "private":
        false, "registrant_link": "https://api.launchpad.net/1.0/~trebelnik-stefina",
        "linked_bugs_collection_link": "https://api.launchp[...]
