---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/bzr
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"26a16d95d271fd1832acbc44dff8b78cf1f34ba8-bb93d70bd2ef5de0a0b8ca536dd377cce492ea1d"'
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project_group_link": "https://api.launchpad.net/1.0/bazaar", "license_info":
        null, "remote_product": null, "recipes_collection_link": "https://api.launchpad.net/1.0/bzr/recipes",
        "development_focus_link": "https://api.launchpad.net/1.0/bzr/trunk", "bug_supervisor_link":
        "https://api.launchpad.net/1.0/~bzr-qa", "private": false, "registrant_link":
        "https://api.launchpad.net/1.0/~bzr", "official_bug_tags": ["2a", "affects-canonical",
        "affects-emacs", "affects-linaro", "affects-montyprogram", "affects-savannah",
        "annotate", "api", "api-versioning", "apport", "apport-bug", "apport-crash",
        "authentication", "autopack", "babune", "baz-import", "binary", "bind", "bound-branch",
        "branch", "break-lock", "brisbane-core", "bundle", "case-sensitivity", "check",
        "checkout", "clean-tree", "cleanup", "commit", "config", "conflicts", "confusing-ui",
        "content-filt[...]
