---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/mozilla/?ws.op=getMergeProposals
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 15, "start": 0, "entries": [{"queuer_link": null, "queue_status":
        "Needs review", "private": false, "registrant_link": "https://api.launchpad.net/1.0/~laney",
        "date_reviewed": null, "target_branch_link": "https://api.launchpad.net/1.0/~mozillateam/firefox/firefox-trunk.head",
        "http_etag": "\"ed5e49daadf4b0c6d457b66e6437a8a95b176052-300c25c6c50c1e9e8e630c07a22c5c748ad0c3a5\"",
        "date_review_requested": "2013-11-26T17:12:00.956698+00:00", "votes_collection_link":
        "https://api.launchpad.net/1.0/~laney/firefox/fonts-no-transitional/+merge/196756/votes",
        "reviewer_link": null, "self_link": "https://api.launchpad.net/1.0/~laney/firefox/fonts-no-transitional/+merge/196756",
        "commit_message": null, "resource_type_link": "https://api.launchpad.net/1.0/#branch_merge_proposal",
        "source_branch_link": "https://api.launchpad.net/1.0/~laney/firefox/fonts-no-transitional",
        "all_comments_collection_link": "https://api.launchpad.net/1.0/~laney/firefox/fonts-no-transitional/+merge/196756/all_comments",
        "date_merged": null, "description": "  * debian/control{,.in}: Update ttf-wqy-zenhei
        and ttf-arphic-ukai\n    dependencies from firefox-testsuite to fonts-*. The
        former are either\n    transitional packages or have been removed.\n\nPlease
        cherry-pick this into the trusty branch too.", "merge_reporter_link": null,
        "preview_diffs_collection_link": "https://api.launchpad.net/1.0/~laney/firefox/fonts-no-transitional/+merge/196756/preview_diffs",
        "preview_diff_link": "https://api.launchpad.net/1.0/~laney/firefox/fonts-no-transitional/+merge/196756/+preview-diff/453714",
        "supersedes_link": null, "address": "\u003cemail address hidden\u003e", "superseded_by_link":
        null, "date_queued": null, "prerequisite_branch_link": null, "queued_revid":
        null, "merged_revno": null, "reviewed_revid": null, "web_link": "https://code.launchpad.net/~laney/firefox/fonts-no-transitional/+merge/196756",
        "date_created": "2013-11-26T17:12:00.956698+00:00", "queue_position": null},
        {"queuer_link": null, "queue_status": "Needs review", "private": false, "registrant_link":
        "https://api.launchpad.net/1.0/~bkerensa", "date_reviewed": null, "target_branch_link":
        "https://api.launchpad.net/1.0/~mozillateam/seamonkey/seamonkey.head", "http_etag":
        "\"15172022f95afde9fb847841c8fc9b65b130218e-d9248da15f04040649a77e63a338818887921994\"",
        "date_review_requested": "2012-06-26T02:30:45.139031+00:00", "votes_collection_link":
        "https[...]
