---
http_interactions:
- request:
    method: get
    uri: https://api.launchpad.net/1.0/bzr/?ws.op=searchTasks
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Lazr-Notifications:
      - "[]"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 2099, "start": 0, "next_collection_link": "https://api.launchpad.net/1.0/bzr?ws.op=searchTasks\u0026ws.size=75\u0026memo=75\u0026ws.start=75",
        "entries": [{"date_closed": null, "date_assigned": null, "title": "Bug #77744
        in Bazaar: \"win32 bzr is confused by filename case changes\"", "bug_link":
        "https://api.launchpad.net/1.0/bugs/77744", "bug_watch_link": null, "milestone_link":
        null, "http_etag": "\"0ca0f526f16d270ef24a810d5c492f5f2c49e0c8-eb5952a73864cc0507ff1304cc56260a4a34ac2b\"",
        "date_left_closed": null, "date_fix_committed": null, "date_fix_released":
        null, "date_in_progress": null, "resource_type_link": "https://api.launchpad.net/1.0/#bug_task",
        "status": "Confirmed", "bug_target_name": "bzr", "importance": "High", "assignee_link":
        null, "date_triaged": null, "self_link": "https://api.launchpad.net/1.0/bzr/+bug/77744",
        "target_link": "https://api.launchpad.net/1.0/bzr", "bug_target_display_name":
        "Bazaar", "related_tasks_collection_link": "https://api.launchpad.net/1.0/bzr/+bug/77744/related_tasks",
        "date_confirmed": "2007-01-02T23:48:24.438728+00:00", "date_left_new": null,
        "web_link": "https://bugs.launchpad.net/bzr/+bug/77744", "owner_link": "https://api.launchpad.net/1.0/~pelzlpj",
        "date_created": "2007-01-02T23:00:55.379586+00:00", "date_incomplete": null,
        "is_complete": false}, {"date_closed": null, "date_assigned": "2012-02-20T12:07:01.963110+00:00",
        "title": "Bug #81689 in Bazaar: \"Branches with symlinks can''t be checked
        out on Windows\"", "bug_link": "https://api.launchpad.net/1.0/bugs/81689",
        "bug_watch_link": null, "milestone_link": null, "http_etag": "\"aec38487df516e7216a7c89e3a08fa2a3f493a9e-9ce01e7f16bc8603eb8d24940ce66557e4030f71\"",
        "date_left_closed": "2009-05-12T15:07:05.860322+00:00", "date_fix_committed":
      [...]
